<!--<div (click)="v6taYhendust('56943912')">Kristiine keskus</div>
<div (click)="v6taYhendust('56757390')">Helsinki keskus</div>
<div (click)="v6taYhendust('53423923')">smt keskus</div>
<div (click)="v6taYhendust('52349320')">asfasx keskus</div>
<div (click)="v6taYhendust('53242382')">mingi keskus</div>
<div (click)="v6taYhendust('52343242')">Tasku keskus</div>
<div (click)="v6taYhendust('55434354')">Ülemiste keskus</div> -->

<div *ngFor="let k of keskused" (click)="v6taYhendust(k)" > {{k.nimi}} keskus</div>
<br><br>

<div *ngIf="v2ljakuvatavKontakt !== undefined">
    Nende kontakt on: {{v2ljakuvatavKontakt.telefon}},{{v2ljakuvatavKontakt.aadress}}
 </div>

<img src="assets/töö.jpeg" alt="pilt">
<!-- alt, kasutatakse siis kui pilti ei saada kätte
arendajad pilti ei näe, saavad lugeda -->