<p>Tuleb välja uus seeria pille</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mHV_A_lKshQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<ul>Muutused, mis paistavad silma:
    <li>uued kere kujud</li>
    <li>uued värvid</li>
</ul>
<div *ngIf="ollakseHiiregaT2rniPeal">Leht on inglise keeles! Vaheta keelt alumise nupu kaudu.</div>
<h2>
    {{uudis}}
    <span
    (mouseenter)="hiiregaYleMinnes()"
    (mouseleave)="hiirega2raMinnes()"
    *ngIf="onInglisekeelne" class="punane-t2rn">*</span>
</h2>

<div>
     {{uudiseSisu}}
      <span 
    (mouseenter)="hiiregaYleMinnes()"
    (mouseleave)="hiirega2raMinnes()"
    *ngIf=" onInglisekeelne" class="punane-t2rn">*</span> 
</div>

<button (click)="muudaEestiKeelseks()">Eestikeelne</button>
<button (click)="muudaIngliseKeelseks()">Inglisekeelne</button>
<button (click)="muudaSoomeKeelseks()">Soomekeelne</button>
