.active-category {
    font-weight: bold;
    text-decoration: underline;
}

.productImg {
    height: 150px;
}

.carousel-item img {
    width: 100%;
    height: 500px;
}

.carousel {
    height: 500px;
    width: 80%;
    margin: 0 10%;
}