<div *ngFor="let k of keskused" > 
  <div> Keskus: {{k.nimi}} </div>
  <div> Telefon: {{k.telefon}} </div>
  <div> Aadress: {{k.aadress}} </div>
  <button routerLink="/muudaP/{{k.nimi.toLowerCase().replace(' ', '-')}}"> Muuda pood</button>
  <button (click)="deleteShop(k)">Kustuta pood</button>
</div>
 
<!-- 1.muuda-toode fail 
2. seos app-routingus muuda-pood/:ijasodjioijsad
3.muuda buttoni sees routerLink="{{k.nimi}}"
4.vahekontroll, kas saab igale tootele vajutada ja läheb muuda-toode works! lehele
5.muuda-toode .ts failis esimesena võtta URL-st saadu .split("muuda-pood/")[1] abil
6. võtta kõik poed localStoragest alla .find abil üles leida
7. HTML-s [formGroup] <- seda ei pea, impordid .ts-s: new FormGroup, newFormControl-->