.product-button {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: .5s;
}

.product-button:hover{
    opacity: 0.7;
    transition: .5s;
}

.content{
    margin: 5px 5px;
    padding: 10px 10px;
}