<!-- 6. kuvan esialgu välja nagu üksik toote lehel -->
<div> {{leitudToode.nimi}} </div>
<div> {{leitudToode.hind}} </div>

<form (ngSubmit)="muuda()" [formGroup]="vorm">
    <label>Toote nimi</label> <br>
    <input  formControlName="nimi" type ="text" required> <br>
    <label>Toote hind</label> <br>
    <input  formControlName="hind" type ="number" required> <br>
    <button [disabled]="vorm.invalid" >Sisesta</button> <br>
</form>

<!-- Can't bind to 'formGroup' since it isn't a known property of 'form'. -->