
    <form (ngSubmit)="lisaInimene(vorm)" #vorm="ngForm">
        <label>ID</label> <br>
        <input  ngModel name="id" type ="number" required> <br>
        <label>Inimese nimi</label> <br>
        <input autocomplete="off" ngModel name="nimi" type="text" required> <br>
        <label>Inimese vanus</label> <br>
        <input  ngModel name="age" type ="number" required> <br>
        <label>Kasutajanimi</label> <br>
        <input autocomplete="off" ngModel name="username" type="text" required> <br>
        <label>Email</label> <br>
        <input autocomplete="off" ngModel name="email" type="text" required> <br>
        <button [disabled]="vorm.invalid">Sisesta inimene</button>
    </form>
