.map-container {
    position: fixed;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .content{
    margin: 5px 5px;
    padding: 10px 10px;
  }