<div class="main-link-list">
<div class="main-link" routerLink="work">
    <img src="assets/töö.jpeg">
    <p>Tööde lehele</p>
</div>
<div class="main-link" routerLink="hobbies">
<img src="assets/hobbies.jpg" alt="">
<p>Hobide lehele</p>
</div>
<div class="main-link" routerLink="courses">
    <img src="assets/udemy.jpg" alt="">
<p>Kursuste lehele</p>
</div>
<div class="rectangle"></div>
<p class="main-text">Tere tulemast minu lehele!</p>

<div class="facebook-button" href="https://www.facebook.com/">
    <img src="assets\facebook.png" alt="">
    <span>Facebook</span>
</div>
<div class="instagram-button" href="https://www.instagram.com/">
    <img src="assets\instagram.png" alt="">
    <span>Instagram</span>
</div>