<button *ngIf="cart.length > 0" (click)="deleteAll()">Clear selection</button>
<div *ngIf="cart.length === 0"><img src="assets/preview.png" alt="Cart empty"> <br>
    Cart empty!
</div>

<div *ngIf="cart.length > 0"> {{cart.length}}tk </div>
<!-- {product:{imgSrc:"", name:"", price:""}, quantity: 2} -->

<div class="cart-product" *ngFor="let cartProduct of cart">
    <img class="product-img" src="{{ cartProduct.product.imgSrc }}" alt="Product image">
    <div class="product-name">{{cartProduct.product.name}}</div>
    <div class="product-price"> {{cartProduct.product.price | productPrice}} </div>
    <div class="quantity-controls">
        <img class="product-button" src="assets/minus.png" (click)="decreaseQuantity(cartProduct)"/>
        <div class="product-quantity"> {{cartProduct.quantity}} tk</div>
        <img class="product-button" src="assets/plus.png" (click)="increaseQuantity(cartProduct)"/>
    </div>
    <div class="product-total"> {{(cartProduct.product.price * cartProduct.quantity) | productPrice}} </div>
    <img class="product-button" src="assets/remove.png" (click)="removeProduct(cartProduct)"/>
</div>

<div class="cart-sum" *ngIf="cart.length > 0">Cart sum:{{allPrice | productPrice}}</div>
<select>
    <option *ngFor="let pm of parcelMachines"> {{pm.NAME}} </option>
</select>
