<button>Vajuta mind</button>
<br><br>
<div>misasja</div>
tekst2

<div>Lehe keel: {{programmiKeel}} </div>
<button (click)="valiKeel('EE')" >Eesti Keel</button>
<button (click)="valiKeel('EN')">Inglise Keel</button>
<button (click)="valiKeel('RU')">Vene Keel</button>

<br>
<button routerLink="/">Koduleht</button>
<button routerLink="/soendus">Avaleht</button>
<button routerLink="/ostukorv">Ostukorv</button>
<button routerLink="/lisa-toode">Lisa toode</button>
<button routerLink="/poed">Poed</button>
<button routerLink="/lisa-keskus">Lisa keskus</button>
<button routerLink="/Autod">Autod</button>
<button routerLink="/valitud-autod">Valitud autod</button>
<button routerLink="/halda-tooteid">Halda tooteid</button>
<button routerLink="/halda-poode">Halda poode</button>
<router-outlet></router-outlet>
