<footer>
   

  
    <div class="footer-social-container">
        <div>
            <a href="#" class="social-link">Privaatsuspoliitika</a>
            <a href="#" class="social-link">privacy page</a>
        </div>
        <div>
            <a href="#" class="social-link">instagram</a>
            <a href="#" class="social-link">facebook</a>
            <a href="#" class="social-link">twitter</a>
        </div>
    </div>
    <p class="footer-credit">NBK © 2022 Kõik õigused kaitstud.</p>
</footer>